<a href="https://colab.research.google.com/github/KaylanyS/ALGESTDADOS_20251/blob/main/Lista_de_Exerc%C3%ADcios_Tuplas%2C_Dicion%C3%A1rios_e_Conjuntos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t = set(1,5,3,6)
t [0] = 10
print(t)

TypeError: set expected at most 1 argument, got 4

In [ ]:
meu_conjunto = set()
numeros = {1, 2, 3, 3, 4}
print(numeros)  # {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
#1 - Uma empresa está analisando os clientes que compraram dois produtos diferentes. A lista de clientes que compraram o produto A é {"Ana", "João", "Carlos"}, e do produto B é {"Carlos", "Maria", "João"}.
#Escreva um código que mostre o conjunto total de clientes distintos que compraram ao menos um dos dois produtos.
A = {"Ana", "João", "Carlos"}
B = {"Carlos", "Maria", "João"}

In [ ]:
#2 - Considere os conjuntos A = {1, 2, 3, 4} e B = {3, 4, 5, 6}.
#Escreva um código que mostre os elementos que estão em A, mas não em B.
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A.difference(B))

{1, 2}

In [ ]:
#3 - Considere os conjuntos x = {10, 20, 30} e y = {30, 40, 50}.
#Escreva um código que mostre os elementos que pertencem a apenas um dos conjuntos, mas não aos dois ao mesmo tempo.
x = {10, 20, 30}
y = {30, 40, 50}
print(x.symmetric_difference(y))

{40, 10, 50, 20}

In [ ]:
#4 - Considere a tupla dados = ("João", 25, "Engenheiro").
# Tente alterar a idade da pessoa para 30 e observe o que acontece. Explique o motivo do erro e o conceito envolvido.

dados = ("João", 25, "Engenheiro")

try:
  dados[1] = 30
except TypeError as e:
  print(f"Erro: {e}")
  print("Tuplas são imutáveis. Isso significa que, uma vez criadas, seus elementos não podem ser alterados, adicionados ou removidos.")

Erro: 'tuple' object does not support item assignment
Tuplas são imutáveis. Isso significa que, uma vez criadas, seus elementos não podem ser alterados, adicionados ou removidos.

In [2]:
#5 - Dada a tupla valores = (5, 10, 15, 20), escreva um código que exiba o último elemento da tupla.
valores = (5,10,15,20)
print(valores[-1])
print(valores[len(valores)-1])
print(valores[3])

20
20
20

In [3]:
#6 - Considere a tupla pessoa = ("Ana", 30, "Designer").
#Desempacote essa tupla em três variáveis e exiba apenas o conteúdo da variável que representa a profissão.
pessoa = ("Ana", 30, "Designer")
nome, idade, profissao = pessoa
print(profissao)

Designer

In [4]:
#7 - Crie um dicionário chamado alunos que armazene o nome e a idade de dois alunos. Em seguida, imprima esse dicionário.
alunos = {'Paulão':18, 'Maria':19}
print(alunos)

{'Paulão': 18, 'Maria': 19}

In [5]:
#8 - Considere o dicionário produtos = {"arroz": 5.60, "feijão": 7.80, "macarrão": 4.20}. Escreva um código que acesse e exiba o valor associado à chave "feijão".
produtos = {"arroz": 5.60, "feijão": 7.80, "macarrão": 4.20}
print(produtos.get('feijão'))

7.8

In [6]:
#9 - Crie um dicionário vazio chamado aluno. Adicione as chaves "nome" com valor "Carlos" e "idade" com valor 21. Imprima o conteúdo final do dicionário.
aluno = {}
aluno['nome'] = 'Carlos'
aluno['idade'] = 21
print(aluno)

{'nome': 'Carlos', 'idade': 21}

In [7]:
#10 - Analise o código dados = {"id": 123, "nome": "Ana", "id": 456}. Explique o valor final da chave "id" e escreva um código que comprove esse comportamento.
dados = {"id": 123, "nome": "Ana", "id": 456}
print(dados['id'])

456

In [8]:
#11 - Dado o conjunto frutas = {"maçã", "banana", "laranja"}, escreva um código que remova o item "abacaxi" sem gerar erro.
frutas = {"maçã", "banana", "laranja"}
frutas.discard('abacaxi')
print(frutas)

{'banana', 'laranja', 'maçã'}

In [9]:
#12 - Escreva um código que utilize uma tupla como chave em um dicionário. Utilize como exemplo a tupla (2024, "Maria") associada ao valor "Presente" e imprima o dicionário.
dicionario = {}
tupla = (2024, "Maria")
dicionario[tupla] = 'presente'
print(dicionario)

{(2024, 'Maria'): 'presente'}

In [10]:
#13 - Dada a lista lista = [1, 2, 2, 3, 3, 3, 4], escreva um código que remova os elementos duplicados e exiba apenas os valores únicos.
lista = [1, 2, 2, 3, 3, 3, 4]
print(list(set(lista)))

[1, 2, 3, 4]

In [11]:
#14 - Dado o dicionário notas = {"Lucas": 8.5, "Julia": 9.0, "Bruno": 7.5}, escreva um código que exiba o nome do aluno seguido da nota em cada linha, no formato: Aluno: Nota
notas = {"Lucas": 8.5, "Julia": 9.0, "Bruno": 7.5}
for aluno, nota in notas.items():
  print(f'{aluno}: {nota}')

Lucas: 8.5
Julia: 9.0
Bruno: 7.5

In [12]:
#15 - Dado o dicionário: turma = {"Ana": (8.0, 7.5),"Pedro": (6.0, 5.5),"Laura": (9.5, 9.0)}, Escreva um código que crie um conjunto com os nomes dos alunos que obtiveram nota 9.5 em pelo menos uma das provas.'''
turma = {"Ana": (8.0, 7.5),"Pedro": (6.0, 5.5),"Laura": (9.5, 9.0)} #Cria o dicionário solicitado
tops = set()
for aluno, notas in turma.items():
  if 9.5 in notas:
    tops.add(aluno)
print(tops)

{'Laura'}